{% extends "base.html" %}

{% block title %}Préparation du vol{% endblock %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{url_for('static', filename='form.css')}}">

<script>
    var planes = JSON.parse({{ form.planes | tojson | safe }});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript" src="{{url_for('static', filename='prepflight.js')}}"></script>

{% endblock %}


{% block content %}

{% from "_formhelpers.html" import render_field %}

<!-- <div class="column is-4 is-offset-4"> -->
<h3 class="title">Préparation du vol</h3>

<div class="form">

    <form method="POST" action="/">

        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            <fieldset>

                <div class="notification is-danger" align="center">
                    <ul class="formerrors">
                    {% for error in errors %}
                    <dl> {{ error }} </dl>
                    {% endfor %}
                    {% if plane %}
                        {% for reason in plane.reasons %}
                        <li> {{ reason }} </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </div>
            </fieldset>
        {% endif %}
        {% endwith %}


        <fieldset>
            <legend>Masse et centrage</legend>
            {{ form.hidden_tag() }}

            <table class="dataframe">
                <!--<thead> -->
                <th></th>
                <th></th>
                <th>masse (kg)</th>
                <th>levier (m)</th>
                <th>moment (kg.m)</th>
                <!-- </thead> -->
                <tr>
                    <td> {{ render_field(form.callsign) }} </td>
                    <td id="planetype"></td>
                    <td id="bew"></td>
                    <td id="bearm"></td>
                    <td id="bemoment"></td>
                </tr>
                <tr>
                    <td> {{ render_field(form.pax0, "pax") }}
                    </td>
                    <td> {{ render_field(form.pax1, "pax") }} </td>
                    <td id='frontweight'></td>
                    <td id="frontarm"></td>
                    <td id="frontmoment"></td>
                </tr>
                <tr>
                    <td> {{ render_field(form.pax2, "pax") }} </td>
                    <td> {{ render_field(form.pax3, "pax") }} </td>
                    <td id="rearweight"></td>
                    <td id="reararm"></td>
                    <td id="rearmoment"></td>
                </tr>

                <tr>
                    <td colspan="2"> {{ render_field(form.baggage) }}</td>
                    <td id="bagweight"></td>
                    <td id="bagarm"></td>
                    <td id="bagmoment"></td>
                </tr>
                <tr>
                    <td colspan="2"> {{ render_field(form.fuel_gauge) }} </td>
                    <td id="fuelmass"></td>
                    <td id="fuelarm"></td>
                    <td id="fuelmoment"></td>
                </tr>
                <tr>
                    <td colspan="2"> {{ render_field(form.auxfuel) }} </td>
                    <td id="auxfuelmass"></td>
                    <td id="auxfuelarm"></td>
                    <td id="auxfuelmoment"></td>
                </tr>
                <tr>
                    <td colspan="2">TOTAL</td>
                    <td id="auw"></td>
                    <td id="cg"></td>
                    <td id="moment"></td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>Performances</legend>
            <table class="dataframe">
                <th>décollage</th>
                <th>atterrissage</th>
                <tr>
                    <td> {{ render_field(form.tkalt) }} </td>
                    <td> {{ render_field(form.ldalt) }} </td>
                </tr>
                <tr>
                    <td> {{ render_field(form.tktemp) }} </td>
                    <td> {{ render_field(form.ldtemp) }} </td>
                </tr>
                <tr>
                    <td> {{ render_field(form.tkqnh) }} </td>
                    <td> {{ render_field(form.ldqnh) }} </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>Validation</legend>
            <table>
                <tr>
                    <td> {{ form.submit }} </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<!-- </div> -->

{% endblock %}