# File: .gitlab-ci.yml
image: python:3.7

stages:
  - test
  - deploy

test:
  stage: test
  script:
  - pwd
  - ls -l
  - apt-get update -qy
  - pip install -r services/web/requirements.txt
  - python -m pytest -v

deploy:
  stage: deploy
  image: google/cloud-sdk
  services:
    - docker:dind
  script:
    - echo $GCP_SERVICE_KEY > gcloud-service-key.json # Google Cloud service accounts
    - gcloud auth activate-service-account --key-file gcloud-service-key.json
    - gcloud config set project $GCP_PROJECT_ID
    - gcloud builds submit . --config=cloudbuild.yaml
