section .wrapper {
  background-color: #42444e;
  border-radius: 6px;
}

/* card layout */

/* general styles */

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

ul li {
  list-style-type: none;
}

.arms {
  border: 0;
}
.arms td {
  text-align: right;
  padding: 0px 12px 0px 12px;
}

.wrapper {
  padding: 1rem;
}

/* column styles */

.column__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 0.5rem;
  align-items: start;

  /* uncomment these lines if you want to have the standard Trello behavior instead of the column wrapping */

  /*   grid-auto-flow: column;
    grid-auto-columns: minmax(260px, 1fr); */
}

.column__item {
  border-radius: 0.2rem;
  background-color: #dfe3e6;
  padding: 0.5rem;
}

.column__title--wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0.25rem;
  align-items: center;
}

.column__title--wrapper h2 {
  color: #17394d;
  font-weight: 700;
  font-size: 0.9rem;
}

.column__title--wrapper i {
  text-align: right;
  color: #798d99;
}

.column__item--cta {
  padding: 0.25rem;
  display: flex;
  color: #798d99;
}

.column__item--cta i {
  margin-right: 0.25rem;
}

/* card styles */

.card__list {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  margin: 0.5rem 0;
}

.card__item {
  background-color: lightgray;
  border-radius: 0.25rem;
  box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
  padding: 0.5rem;
}

.card__tag {
  font-size: 0.75rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0.75rem;
  display: inline-block;
}

.card__image {
  width: 100%;
  margin-bottom: 0.25rem;
}

/* sticker colors */

.card__tag--design {
  background-color: #61bd4f;
}

.card__tag--browser {
  background-color: #c377e0;
}

.card__tag--mobile {
  background-color: #f2d600;
}

.card__tag--high {
  background-color: #eb5a46;
}

.card__tag--low {
  background-color: #00c2e0;
}

.card__title {
  color: #17394d;
  margin-bottom: 0.75rem;
}

/* card actions */

.card__actions {
  display: flex;
  align-items: center;
}

.card__actions--wrapper i {
  color: #798d99;
  margin-right: 0.5rem;
}

.card__actions--text {
  color: #798d99;
  font-size: 0.8rem;
  margin-left: -0.25rem;
  margin-right: 0.5rem;
}

.card__avatars {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.card__avatars--item {
  margin-left: 0.25rem;
  width: 28px;
  height: 28px;
}

.avatar__image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
