form {
  border-collapse: separate;
  border-spacing: 0;
  border: 0;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 15px 15px;
  background: #42444e;
  color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

table.dataframe {
  /* table-layout: fixed; */
  width: 100%;
}

table.dataframe th {
  background: #42444e;
  color: #fff;
  text-align: left;
}

table.dataframe th,
td {
  padding: 6px 15px;
  width: 20%;
}

select {
  display: block;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: whitesmoke;
}

select:focus {
  border-color: #aaa;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

img.prep {
  border-radius: 30px;
}

fieldset {
  border-radius: 12px;
  padding: 6px;
}

ul.formerrors {
  text-align: left;
  list-style-type: square;
  display: table;
}

ul.errors {
  text-align: left;
  color: orange;
}

legend {
  text-align: left;
  margin-left: 20px;
}

label {
  padding: 6px 12px 12px 0;
  margin-left: auto;
  text-align: left;
}

.formhr {
  height: 1px;
  line-height: 0;
  border-width: 0;
  color: gray;
  background-color: gray;
}

.formcontainer {
  border-radius: 5px;
  padding: 20px;
}

.col-10 {
  float: left;
  width: 10%;
  margin-top: 6px;
}

.col-10 select {
  display: inline-flex;
}

.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-40 {
  float: left;
  width: 40%;
  margin-top: 6px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-valid {
  text-align: justify;
}

/* grid layout */

.wrapper1 {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  padding: 0px;
  margin: auto;
  justify-content: flex-start;
  flex-basis: content;
  flex-wrap: wrap;
}

.wrapper1 div {
  border: 0px dashed gray;
  flex: 1 1 10px;
  text-align: left;
  padding: 6px;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 0px;
  margin: auto;
  justify-content: stretch;
  flex-basis: content;
  flex-wrap: wrap;
}

.wrapper2 div {
  border: 0px dashed gray;
  flex: 1 1 10px;
  text-align: end;
  padding: 6px;
}

.gridbox {
  background-color: #42444e;
  color: #fff;
  border-radius: 3px;
  padding: 6px;
  font-size: 14px;
}

.header {
  grid-area: header;
}

.headweight {
  grid-area: headweight;
}

.headarm {
  grid-area: headarm;
}

.headmoment {
  grid-area: headmoment;
}

.callsignlabel {
  grid-area: callsignlabel;
}

.callsign {
  grid-area: callsign;
}

.aircraft {
  grid-area: aircraft;
}

.pax0label {
  grid-area: pax0label;
}

.pax0 {
  grid-area: pax0;
}

.pax1label {
  grid-area: pax1label;
}

.pax1 {
  grid-area: pax1;
}

.bew {
  grid-area: bew;
}

.bearm {
  grid-area: bearm;
}

.bemoment {
  grid-area: bemoment;
}

.frontweight {
  grid-area: frontweight;
}

.frontarm {
  grid-area: frontarm;
}

.frontmoment {
  grid-area: frontmoment;
}

.pax2label {
  grid-area: pax2label;
}

.pax2 {
  grid-area: pax2;
}

.pax3label {
  grid-area: pax3label;
}

.pax3 {
  grid-area: pax3;
}

.rearweight {
  grid-area: rearweight;
}

.reararm {
  grid-area: reararm;
}

.rearmoment {
  grid-area: rearmoment;
}

.baglabel {
  grid-area: baglabel;
}

.bag {
  grid-area: bag;
}

.bagweight {
  grid-area: bagweight;
}

.bagarm {
  grid-area: bagarm;
}

.bagmoment {
  grid-area: bagmoment;
}

.fuelgaugelabel {
  grid-area: fuelgaugelabel;
}

.fuelgauge {
  grid-area: fuelgauge;
}

.fuelweight {
  grid-area: fuelweight;
}

.fuelarm {
  grid-area: fuelarm;
}

.fuelmoment {
  grid-area: fuelmoment;
}

.auxfuelgaugelabel {
  grid-area: auxfuelgaugelabel;
}

.auxfuelgauge {
  grid-area: auxfuelgauge;
}

.auxfuelweight {
  grid-area: auxfuelweight;
}

.auxfuelarm {
  grid-area: auxfuelarm;
}

.auxfuelmoment {
  grid-area: auxfuelmoment;
}

.total {
  grid-area: total;
}

.auw {
  grid-area: auw;
}

.cg {
  grid-area: cg;
}

.allmoment {
  grid-area: allmoment;
}
