<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}rapport{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='report.css')}}">
    {% endblock %}
</head>


{% block content %}

<h1 class="myheading title">Préparation du vol</h3>
<h2 class="myheading title"> {{ plane.callsign }} - {{ timestamp }} </h4>

<fieldset>
    <legend>Masse et centrage</legend>

    <table class="dataframe">
        <th></th>
        <th></th>
        <th>masse (kg)</th>
        <th>levier (m)</th>
        <th>moment (kg.m)</th>
        <th ></th>
        <tr>
            <td> call sign {{ plane.callsign }}</td>
            <td> {{ plane.planetype }} </td>
            <td id="bew"></td>
            <td id="bearm"></td>
            <td id="bemoment"></td>
            <td rowspan="7", class="imagecell">
                <img width=470px, class="prep", src="data:image/png;base64,{{ balance }}"/>
            </td>
        </tr>
        <tr>
            <td> pax {{ plane.pax0 }}kg</td>
            <td> pax {{ plane.pax1 }}kg</td>
            <td> {{ '%0.2f'|format(plane.frontweight)|float }} </td>
            <td> {{ '%0.2f'|format(plane.arms["front"])|float }}</td>
            <td> {{ '%0.2f'|format(plane.frontmoment)|float }}</td>
            
        </tr>
        <tr>
            <td> pax {{ plane.pax2 }}kg </td>
            <td> pax {{ plane.pax3 }}kg </td>
            <td> {{ '%0.2f'|format(plane.rearweight)|float }}</td>
            <td> {{ '%0.2f'|format(plane.arms["rear"])|float }}</td>
            <td> {{ '%0.2f'|format(plane.rearmoment)|float }}</td>
            
        </tr>

        <tr>
            <td colspan="2"> baggage {{ plane.baggage }}kg</td>
            <td> {{ '%0.2f'|format(plane.baggage)|float }}</td>
            <td> {{ '%0.2f'|format(plane.arms["baggage"])|float }}</td>
            <td> {{ '%0.2f'|format(plane.bagmoment)|float }}</td>
            
        </tr>
        <tr>
            <td colspan="2"> fuel {{ plane.fuel }}l </td>
            <td> {{ '%0.2f'|format(plane.fuel_mass)|float }} </td>
            <td> {{ '%0.2f'|format(plane.arms["fuel"])|float }} </td>
            <td> {{ '%0.2f'|format(plane.fuelmoment)|float }} </td>
            
        </tr>
        <tr>
            <td colspan="2"> fuel aux. {{ plane.auxfuel }}l </td>
            <td> {{ '%0.2f'|format(plane.auxfuel_mass)|float }} </td>
            <td> {{ '%0.2f'|format(plane.arms["auxfuel"])|float }} </td>
            <td> {{ '%0.2f'|format(plane.auxfuelmoment)|float }} </td>
            
        </tr>
        <tr>
            <td colspan="2"><b>TOTAL</b></td>
            <td> <b>{{ '%0.2f'|format(plane.auw)|float }} </b></td>
            <td> <b>{{ '%0.2f'|format(plane.cg)|float }} </b></td>
            <td> <b>{{ '%0.2f'|format(plane.moment)|float }} </b></td>
            
        </tr>
    </table>
</fieldset>

<fieldset>
    <legend>Prévisions</legend>

    <table class="dataframe">
        <tr>
            <td>
                    <h3><b>Distance de décollage (15m)</b></h3>
                        {{ form.tkalt.data }} ft
                    <br>
                        {{ form.tktemp.data }} °C
                    <br>
                        {{ form.tkqnh.data }} hPa
                    <br>
                    {{ takeoff_data | safe }}
            </td>
            <td>
                    <h3><b>Distance d'atterrissage (15m)</b></h3>
                        {{ form.ldalt.data }} ft
                    <br>
                        {{ form.ldtemp.data }} °C
                    <br>
                        {{ form.ldqnh.data }} hPa
                    <br>
                    {{ landing_data | safe }}
            </td>
        </tr>
    </table>
<!-- </fieldset> -->

<!-- <fieldset class="perf"> -->
<table class="dataframe">
    <tr>
        <td>
            <img width=500px, class="prep" , src="data:image/png;base64,{{ takeoff }}" />
        </td>
        <td>
            <img width=500px, class="prep" , src="data:image/png;base64,{{ landing }}" />
        </td>
    </tr>

</table>
</fieldset>


{% endblock %}