<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %} PrepaVol {% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">

  {% endblock %}
</head>

<body>
  <section class="hero is-grey-light is-fullheight">
    <div class="hero-head">
      <nav class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ url_for('main.welcome') }}">
            <img src="{{ url_for('static', filename='icons/icons8-aircraft-50.png') }}" height="28" />
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarMenuHeroA">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-start">
            {% for href, caption, logged in
            [
            (url_for('main.emport_carburant'), 'Carburant', True),
            (url_for('main.prepflight'), 'Devis Masse & Centrage', True),
            (url_for('main.fleet'), 'Flotte', False)
            ] %}
            {% if logged and session["pilot_name"] %}
            <a href="{{ href }}" class="navbar-item">
              {{ caption }}
            </a>
            {% elif not logged %}
            <a href="{{ href }}" class="navbar-item">
              {{ caption }}
            </a>
            {% endif %}
            {% endfor %}
          </div>
          <div class="navbar-end">
            {% if session["pilot_name"] %}
            <div class="navbar-item">
              <a href="{{ url_for('main.disconnect') }}" class="button is-danger">
                Déconnexion
              </a>
            </div>
            {% else %}
            <div class="navbar-item">
              <a href="{{ url_for('main.connexion') }}" class="button is-primary">
                Connexion
              </a>
            </div>
            {% endif %}
            <div class="navbar-item">
              <a href="https://github.com/mgcarre/centrage-aero" target="_blank">
                <img src="{{ url_for('static', filename='icons/github-mark/GitHub-Mark-32px.png') }}" />
              </a>
            </div>
          </div>

        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        {% block content %} {% endblock %}
      </div>
    </div>
  </section>
  <script language="javascript" type="text/javascript">
    document.querySelector(".navbar-burger").addEventListener("click", e => {
      e.preventDefault()
      document.querySelector(".navbar-burger").classList.toggle("is-active")
      document.querySelector(".navbar-menu").classList.toggle("is-active")
    })
  </script>
</body>

</html>