<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %} PrepaVol {% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />

  {% endblock %}
</head>

<body>
  <section class="hero is-grey-light is-fullheight">
    <div class="hero-head">
      <nav class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ url_for('main.prepflight') }}">
            <img src="{{ url_for('static', filename='icons8-aircraft-50.png') }}" height="28" />
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarMenuHeroA">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-start">
            <a href="{{ url_for('main.prepflight') }}" class="navbar-item">
              Préparation du vol
            </a>
            <a href="{{ url_for('main.fleet') }}" class="navbar-item">
              Flotte
            </a>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        {% block content %} {% endblock %}
      </div>
    </div>
  </section>
  <script language="javascript" type="text/javascript">
    document.querySelector(".navbar-burger").addEventListener("click", e => {
      e.preventDefault()
      document.querySelector(".navbar-burger").classList.toggle("is-active")
      document.querySelector(".navbar-menu").classList.toggle("is-active")
    })
  </script>
</body>

</html>