<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Rapport{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='style/report.css')}}">
    {% endblock %}
</head>


{% block content %}

{% if session["report_carburant"] %}
{% include "report_carburant.html" %}
<div class="pagebreak"> </div>
{% endif %}

<h1 class="is-1 title">Préparation du vol</h1>

<article class="message is-small is-info">
    <div class="message-header">
        <p>{{ plane.callsign }} - {{ timestamp }} - Pilot : {{ session["pilot_name"] | upper }}</p>
        <!-- <button class="delete" aria-label="delete"></button> -->
    </div>
    <div class="message-body">
        {% if not carbu %}
        <p>
            Autonomie <strong>{{ '%dh%02d' | format(plane.endurance, (plane.endurance * 60) % 60) }}</strong>
            - Temps de vol VFR jour <strong>{{ '%dh%02d' | format(plane.flight_time, (plane.flight_time * 60) % 60)
                }}</strong>
            - Temps de vol VFR nuit <strong>{{ '%dh%02d' | format(plane.flight_time_night, (plane.flight_time_night *
                60) %
                60)}}</strong>
        </p>
        {% else %}
        <p>
            Autonomie <strong>{{ carbu.hum_sum_carburant_emporte() }}</strong>
            - Temps de vol maximum en {{carbu.type_vol.value.lower()}} de <strong>{{ carbu.str_max_flight_time()
                }}</strong> -
            Réserve finale <strong>{{carbu.reserve_time}}</strong> minutes
        </p>
        {% endif %}
        {% if tkAD is not none %}
        <p>From: {{tkAD.nom}} ({{tkAD.code}}) - statut: {{tkAD.statut}} - trafic: {{tkAD.trafic}} </p>
        {% endif %}
        {% if ldAD is not none %}
        <p>To: {{ldAD.nom}} ({{ldAD.code}}) - statut: {{ldAD.statut}} - trafic: {{ldAD.trafic}} </p>
        {% endif %}
    </div>
</article>
{% with warnings =
get_flashed_messages(category_filter=["warning"]) %} {% if warnings %}
<article class="message is-small is-warning">
    <div class="message-header">
        <p>Votre attention est requise</p>
    </div>
    <div class="message-body">
        {% for warning in warnings %}
        <p>{{ warning }}</p>
        {% endfor %}
    </div>
</article>
{% endif %} {% endwith %}
<a href="" onclick="javascript:back()" class="button is-small is-warning no-print">Retour</a>
<a href="" onclick="javascript:print()" class="button is-small is-success no-print">Imprimer</a>
<fieldset>
    <legend>Masse et centrage</legend>

    <table class="dataframe">
        <th></th>
        <th></th>
        <th class="col3">masse (kg)</th>
        <th class="col4">levier (m)</th>
        <th class="col5">moment (kg.m)</th>
        <th></th>
        <tr>
            <td class="col1"> <span class="tag is-info">{{ plane.callsign }}</span></td>
            <td class="col2"> <span class="tag">{{ plane.planetype }}</span> </td>
            <td id="bew"> {{ plane.bew }} </td>
            <td id="bearm"> {{ '%0.2f'|format(plane.arms["bew"])|float }}</td>
            <td id="bemoment"> {{ '%0.2f'|format(plane.bew * plane.arms["bew"])|float }} </td>
            <td rowspan="7" , class="imagecell">
                <img width=400px, class="prep" , src="data:image/png;base64,{{ balance }}" />
            </td>
        </tr>
        <tr>
            <td> cdb <span class="tag">{{ plane.pax0 }}kg</span></td>
            <td> pax <span class="tag">{{ plane.pax1 }}kg</span></td>
            <td> {{ '%0.2f'|format(plane.frontweight)|float }} </td>
            <td> {{ '%0.2f'|format(plane.arms["front"])|float }}</td>
            <td> {{ '%0.2f'|format(plane.frontmoment)|float }}</td>

        </tr>
        <tr>
            <td> pax <span class="tag">{{ plane.pax2 }}kg</span> </td>
            <td> pax <span class="tag">{{ plane.pax3 }}kg</span> </td>
            <td> {{ '%0.2f'|format(plane.rearweight)|float }}</td>
            <td> {{ '%0.2f'|format(plane.arms["rear"])|float }}</td>
            <td> {{ '%0.2f'|format(plane.rearmoment)|float }}</td>

        </tr>

        <tr>
            <td colspan="2"> bagages <span class="tag">{{ plane.baggage }}kg</span></td>
            <td> {{ '%0.2f'|format(plane.baggage)|float }}</td>
            <td> {{ '%0.2f'|format(plane.arms["baggage"])|float }}</td>
            <td> {{ '%0.2f'|format(plane.bagmoment)|float }}</td>

        </tr>

        <tr>
            <td colspan="2"> bagages 2 <span class="tag">{{ plane.baggage2 }}kg</span></td>
            <td> {{ '%0.2f'|format(plane.baggage2)|float }}</td>
            <td> {{ '%0.2f'|format(plane.arms["baggage2"])|float }}</td>
            <td> {{ '%0.2f'|format(plane.bagmoment2)|float }}</td>

        </tr>

        <tr>
            <td colspan="2"> fuel pcpl <span class="tag">{{ plane.mainfuel }}L</span> </td>
            <td> {{ '%0.2f'|format(plane.mainfuel_mass)|float }} </td>
            <td> {{ '%0.2f'|format(plane.arms["mainfuel"])|float }} </td>
            <td> {{ '%0.2f'|format(plane.mainfuelmoment)|float }} </td>

        </tr>

        <tr>
            <td> fuel aile g. <span class="tag">{{ plane.leftwingfuel }}L</span> </td>
            <td> fuel aile d. <span class="tag">{{ plane.rightwingfuel }}L</span> </td>
            <td> {{ '%0.2f'|format(plane.wingfuel_mass)|float }}</td>
            <td> {{ '%0.2f'|format(plane.arms["wingfuel"])|float }}</td>
            <td> {{ '%0.2f'|format(plane.wingfuelmoment)|float }}</td>

        </tr>

        <tr>
            <td colspan="2"> fuel suppl. <span class="tag">{{ plane.auxfuel }}L</span> </td>
            <td> {{ '%0.2f'|format(plane.auxfuel_mass)|float }} </td>
            <td> {{ '%0.2f'|format(plane.arms["auxfuel"])|float }} </td>
            <td> {{ '%0.2f'|format(plane.auxfuelmoment)|float }} </td>

        </tr>
        <tr>
            <td colspan="2"><b>TOTAL</b></td>
            <td> <b>{{ '%0.2f'|format(plane.auw)|float }} </b></td>
            <td> <b>{{ '%.2f'|format(plane.cg)|float }} </b></td>
            <td> <b>{{ '%0.2f'|format(plane.moment)|float }} </b></td>

        </tr>
    </table>
</fieldset>
<br>
<fieldset>
    <legend>Prévisions</legend>

    <table class="dataframe">
        <tr>
            <td>
                <h3><b>Distance de décollage (15m)</b></h3>
                <table class="mto">
                    <tr>
                        <td>
                            Alt <span class="tag">{{ form.tkalt.data }} ft</span>
                        </td>
                        <td>
                            Alt pression <span class="tag">{{ tkoff_Zp }} ft</span>
                        </td>
                        <td>
                            Alt densité <span class="tag">{{ tkoff_Zd }} ft</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Temp <span class="tag">{{ form.tktemp.data }} °C</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            QNH <span class="tag">{{ form.tkqnh.data }} mbar</span>
                        </td>
                    </tr>
                </table>
                {{ takeoff_data | safe }}
            </td>
            <td>
                <h3><b>Distance d'atterrissage (15m)</b></h3>

                <table class="mto">
                    <tr>
                        <td>
                            Alt <span class="tag">{{ form.ldalt.data }} ft</span>
                        </td>
                        <td>
                            Alt pression <span class="tag">{{ ldng_Zp }} ft</span>
                        </td>
                        <td>
                            Alt densité <span class="tag">{{ ldng_Zd }} ft</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Temp <span class="tag">{{ form.ldtemp.data }} °C</span>
                        </td>
                    </tr>
                    <td colspan="3">
                        QNH <span class="tag">{{ form.ldqnh.data }} mbar</span>
                    </td>
        </tr>
    </table>

    {{ landing_data | safe }}
    </td>
    </tr>
    </table>
    <!-- </fieldset> -->

    <!-- <fieldset class="perf"> -->
    <table class="dataframe">
        <tr>
            <td>
                <img width=500px, class="prep" , src="data:image/png;base64,{{ takeoff }}" />
            </td>
            <td>
                <img width=500px, class="prep" , src="data:image/png;base64,{{ landing }}" />
            </td>
        </tr>

    </table>
</fieldset>


{% endblock %}