{% extends "base.html" %} {% block title %}Prepavol - Bienvenue{% endblock %} {% block head %}
{{ super() }}


{% endblock %} {% block content %}

<div class="content">
    <h1>Bienvenue sur Prépavol</h1>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">Notice</p>
                        <p class="subtitle">Sécurité</p>
                        <div class="content">
                            <p>Ce site permet de calculer les préparatifs au vol</p>
                            <p>Il ne se substitue pas à l'expertise et à la connaissance du pilote</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">Wide tile</p>
                    <p class="subtitle">Aligned with the right tile</p>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
                <div class="content">
                    <p class="title">Choisir son club</p>
                    <p class="subtitle">Aéroclubs disponibles</p>
                    <div class="content">
                        {% with notif =
                        get_flashed_messages(category_filter=["success"]) %} {% if notif %}
                        <article class="message is-small is-info">
                            <div class="message-header">
                                <p>Information</p>
                            </div>
                            <div class="message-body">
                                {% for n in notif %}
                                <p>{{ n }}</p>
                                {% endfor %}
                            </div>
                        </article>
                        {% endif %} {% endwith %}
                        {% if club %}
                        Votre club est {{club}}
                        Les avions du club :
                        <ul>
                            {% for li in planes if planes %}
                            <li>{{li}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <!-- Content -->
                        {% for c in clubs if not club %}
                        <a href="/club/{{c.title}}" class="button">{{c.title}}</a>
                        {% endfor %}
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}