{% extends "base.html" %} {% block title %}Prepavol - Bienvenue{% endblock %} {% block head %}
{{ super() }}


{% endblock %} {% block content %}

<div class="content">
    <h1>Bienvenue sur Prépavol</h1>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">Notice</p>
                        <p class="subtitle">Sécurité</p>
                        <div class="content">
                            <p>Ce site permet de calculer les préparatifs au vol</p>
                            <p>Il ne se substitue pas à l'expertise et à la connaissance du pilote</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">Nota</p>
                    <p class="subtitle"></p>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
                <div class="content">
                    <p class="title">Info METAR</p>
                    <p class="subtitle">Choisir son terrain</p>
                    <div class="content" id="res-api">
                        <button class="button">LFPN</button>
                        <button class="button">LFPO</button>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='script/welcome.js')}}"></script>

{% endblock %}