{% extends "base.html" %} {% block title %}Prepavol - Bienvenue{% endblock %} {% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js"></script>


{% endblock %} {% block content %}

{% include "_flashmessages.html" %}

<div class="content">
    <h1>Bienvenue sur Prépavol</h1>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">Notice</p>
                        <p class="subtitle">Sécurité</p>
                        <div class="content">
                            <p>Ce site permet de calculer les préparatifs au vol</p>
                            <p>Il ne se substitue pas à l'expertise et à la connaissance du pilote</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">Nota</p>
                    <p class="subtitle"></p>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
                <div class="content">
                    <p class="title">Info METAR</p>
                    <p class="subtitle">Choisir son terrain</p>
                    <div class="content buttons has-addons is-centered" id="res-api">
                        <button class="button is-ad-btn">LFPN</button>
                        <button class="button is-ad-btn">LFPO</button>
                        <button class="button is-ad-btn">LFOJ</button>
                        <button class="button is-ad-btn">LFPM</button>
                    </div>
                    <p id="metar_data" class="has-background-light has-text-black"></p>
                </div>
            </article>
            <article class="tile is-child notification is-dark">
                <div class="content">
                    <p class="title">Info SR-SS</p>
                    <p class="subtitle">Affichage de l'éphéméride</p>
                    <div class="content buttons is-centered">
                        <button class="button" id="btn-sr-ss">Charg.</button>
                    </div>
                    <p id="sr-ss-data" class="has-background-light has-text-black">
                    <table class="table is-bordered">
                        <thead>
                            <tr>
                                <th>Jour aéro</th>
                                <th><abbr title="Sunrise">&#127749;</abbr></th>
                                <th><abbr title="Sunset">&#127751;</abbr></th>
                                <th>Nuit aéro</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="jr-aero"></td>
                                <td id="sr"></td>
                                <td id="ss"></td>
                                <td id="nt-aero"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="sunset"></div>
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='script/welcome.js')}}"></script>

{% endblock %}